<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid d-flex">
    <%= link_to "Todo List", root_path, class: 'navbar-brand' %>
    <%= render 'form_add_todo', list: @list%>
  </div>
</nav>